html{
    font-size: 1.0em;
    color-scheme: 'light dark';
}
html,
body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', sans-serif;
}
body{
    padding: 1rem;
}
.dark{
    background: #000;
    color: #eee;
}
.table{
    background-color:#ccc;
    width:100%
}
tr,td{
    padding:1rem;
    margin:1rem 0 1rem 0;
    border-right:solid 1px black;
    border-left:solid 1px black
}
.cell{
    text-align:center;
}
.table{
    width: 100%;
    overflow: scroll;
}
.table thead{
    border: solid 1px #bea44b
}
.table tbody{
    border: solid 1px #ce8930
}
.form-box{
    margin-bottom: 1em;
}
.form{
    padding: 1em;
}
.message{
    color: #3f3535;
    width: 95%;
    min-height: 2em;
}
