
<title>Vendedores</title>

<body class="dark">
    
    <div class="card w-100">
        <div class="card-title text-center mb-2">
            Vendedores
        </div>
        <div class="card-subtitle mb-2 text-body-secondary text-center">
            Index
        </div>
        <div class="card-subtitle">
            <div class="d-flex justify-content-center">
                <a href="/vendedor/post" class="btn btn-primary" type="button">Post Vendedor</a>
            </div>
        </div>
        <br>
        <div class="card-subtitle">
            <form class="form" id="vendedores_filter" >
                    <div class="row">
                            <div class="col-6 col-md-4 form-box">
                                <input class="form-control " type="number" placeholder="max" name="max" aria-label="max">
                            </div>
                            <div class="col-6 col-md-4 form-box">
                                <input class="form-control " type="number" placeholder="offset" name="offset" aria-label="offset">
                            </div>
                            <div class="col-6 col-md-4 form-box">
                                <input class="form-control " type="search" placeholder="Nombre" name="nombre" aria-label="nombre">
                            </div>
                    </div>
                    
                <br>
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Filtrar">
            </form>
        </div>

        <div class="card-body table-responsive">
            <table class="table" id="app-table">

            </table>
        </div>
    </div>

<script type="module" src="./views/vendedores/index.js"></script>

</body>
